.about__title::after {
    content: "";
    display: block;
    width: 25%;
    height: 2px;
    background-color: #783AA8;
}



.image-section {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; */
    /* grid-template-rows: repeat(5, minmax(100px, auto)) */
}

.dotted-image {
    display: grid;
    grid-row: 1 / 5;
    grid-column: 1 / 5;
}


.border-image {
    display: grid;
    grid-row: 2 / 8;
    grid-column: 2 / 8;
}

.human-image {
    display: grid;
    grid-row: 3 / 12;
    grid-column: 3 / 12;
}