.about__title::after {
    content: "";
    display: block;
    width: 25%;
    height: 2px;
    background-color: #783AA8;
}



.image-section {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: auto

}

.dotted-image {
    display: grid;

    grid-row: 1/4;
    grid-column: 1 / 5;
}


.border-image {
    display: grid;

    grid-row: 2 / 7;
    grid-column: 2 / 8;
}

.human-image {
    display: grid;
    grid-row: 3 / 8;
    grid-column: 3 / 10;
}